{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <!-- Bootstrap Core CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'profolio/style.css' %}">
        <title>{{ person.name }}</title>
    </head>

    <body>
        <main>
          <!-- header -->
          <header class="header d-flex justify-content-center py-4 text-white  sticky-top">
            <ul class="nav">
              <li><a href="#About" class="nav-link px-6 text-white">About</a></li>
              <li><a href="#Projects" class="nav-link px-6 text-white">Projects</a></li>
              {% for key, value in tabs.items %}
              <li><a target ="_blank" rel="noopener noreferrer" href="{{ value }}" class="nav-link px-6 text-white">{{ key }}</a></li>
              {% endfor %}
            </ul>
          </header>
          <div class="about-wrapper">
            <!-- About -->
            <div class="container">
              <div class="row justify-content-center">
                <div class="col center">
                  <div class="about ">
                    <h2> About Me </h2>
                    <div class="intro">
                    I graduated from California State University Channel Islands with a Bachelor's in Computer Science and a minor in Security Systems Engineering. I have an interest in Front-End Development and Systems Administration. I am an individual who indulges in activities in which I am able to express myself creatively. Many of these interests include, but are not limited to, Web Development, CSS Art, Video Editing, and Digital Art. 
                    </div>
                  </div>
                </div>
                <div class="col center">
                  <img src="{% static 'profolio/images/author.jpg' %}" class="img-thumbnail" alt="...">
                </div>
              </div>
            </div>
          </div>
          
          
            <div class="projects-wrapper">
                <!-- Projects -->
                <div class="container">
                  <h2> Projects </h2>
                  <div class="row row-cols-1 row-cols-md-2 g-4">
                    {% for project in projects %}
                    <div class="col">
                      <div class="card" >
                        <div class="card-body">
                          <h5 class="card-title">{{ project.name }}</h5>
                          <h6 class="card-subtitle mb-2 text-muted">{{ project.subtitle }}</h6>
                          <p class="card-text">{{ project.summary }}</p>
                          <a target ="_blank" rel="noopener noreferrer" href="{{ project.link}}" class="card-link">Demo</a>
                          <a target ="_blank" rel="noopener noreferrer" href="{{ project.link}}" class="card-link">GitHub</a>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
              
        </main>
        <div class="container">
          <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
              <li><a href="#About" class="nav-link px-2 link-secondary">About</a></li>
              <li><a href="#Projects" class="nav-link px-2 link-secondary">Projects</a></li>
              {% for key, value in tabs.items %}
              <li><a target ="_blank" rel="noopener noreferrer" href="{{ value }}" class="nav-link px-2 link-secondary">{{ key }}</a></li>
              {% endfor %}
            </ul>
            <p class="text-center text-muted">&copy; 2021 Company, Inc</p>
          </footer>
        </div>
        <!-- Scripts -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    </body>
</html>